<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2>Basketball Team Players: </h2>
   <p>Name: <%= @team_hash[:name] %></p>


 </body>
</html>
